/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* end css reset */

#pageHeader {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /*border: 10px solid gray;*/
    background-color: rgba(255, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4.0em;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 200;
}

h2 {
    font-size: 2.5em;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 200;
}

h3 span {
    font-size: 2em;
    font-family: "Times New Roman", sans-serif, monospace;
}

#quickSummary {
    font-size: 1em !important;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    /*border: 10px solid gray;*/
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

#preamble {
    width: 100%;
}

#supportingText {
    width: 100%;
}

#participation, #preamble {
    width: 48%;
    float: left;
    clear: left;
    padding: .5em;
    padding-left: 1em;
}

#participation {
	padding-bottom: 2em;
}

#explanation, #benefits, #requirements {
    width: 48%;
    float: right;
    clear: right;
    padding: .5em;
		padding-right: 1em;
}

#linkList {
    width: 100%;
    padding-left: 1em;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: "Times New Roman", sans-serif, monospace;
}

#footer {
    position: fixed;
    bottom: 0;
		font-size: 1.2em;
    background-color: white;
    z-index: 100;
    width: 100%;
    padding: .4em;
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: "Times New Roman", sans-serif, monospace;
		text-align: justify;
}

#quickSummary p {
	text-align: center;
}

#lselect, #larchives, #lresources {
    padding: 1em;
    padding-left: 0;
}

body {
	background-color: rgba(0,0,200, 0.1);
}

#lresources {
    padding-bottom: 2em;
}

#lselect {
    margin-top: 3em;
}

a:link {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.8);
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-weight: bold;
}
